{#
/*
 * Spring Signage Ltd - http://www.springsignage.com
 * Copyright (C) 2015 Spring Signage Ltd
 * (${FILE_NAME})
 */

#}
{% extends "authed.twig" %}
{% import "inline.twig" as inline %}

{% block pageContent %}
<!--
    <div class="row">
        <div id="dashbuttons" class="">
        {% if currentUser.routeViewable("/schedule") %}
            <div class="dashicons">
                <a href="{{ urlFor("schedule.view") }}">
                    <img src="{{ theme.uri("img/dashboard/scheduleview.png") }}" class="dash_button" />
                    <span class="dash_text">{% trans "Schedule" %}</span>
                </a>
            </div>
        {% endif %}

        {% if currentUser.routeViewable("/layout") %}
            <div class="dashicons">
                <a href="{{ urlFor("layout.view") }}">
                    <img src="{{ theme.uri("img/dashboard/presentations.png") }}" class="dash_button" />
                    <span class="dash_text">{% trans "Layouts" %}</span>
                </a>
            </div>
        {% endif %}

        {% if currentUser.routeViewable("/library") %}
            <div class="dashicons">
                <a href="{{ urlFor("library.view") }}">
                    <img src="{{ theme.uri("img/dashboard/content.png") }}" class="dash_button" />
                    <span class="dash_text">{% trans "Library" %}</span>
                </a>
            </div>
        {% endif %}

        {% if currentUser.routeViewable("/template") %}
            <div class="dashicons">
                <a href="{{ urlFor("template.view") }}">
                    <img src="{{ theme.uri("img/dashboard/layouts.png") }}" class="dash_button" />
                    <span class="dash_text">{% trans "Templates" %}</span>
                </a>
            </div>
        {% endif %}

        {% if currentUser.routeViewable("/user") %}
            <div class="dashicons">
                <a href="{{ urlFor("user.view") }}">
                    <img src="{{ theme.uri("img/dashboard/users.png") }}" class="dash_button" />
                    <span class="dash_text">{% trans "Users" %}</span>
                </a>
            </div>
        {% endif %}

        {% if currentUser.routeViewable("/admin") %}
            <div class="dashicons">
                <a href="{{ urlFor("admin.view") }}">
                    <img src="{{ theme.uri("img/dashboard/settings.png") }}" class="dash_button" />
                    <span class="dash_text">{% trans "Settings" %}</span>
                </a>
            </div>
        {% endif %}

        {% if currentUser.routeViewable("/license") %}
            <div class="dashicons">
                <a href="{{ urlFor("license.view") }}">
                    <img src="{{ theme.uri("img/dashboard/license.png") }}" class="dash_button" />
                    <span class="dash_text">{% trans "About" %}</span>
                </a>
            </div>
        {% endif %}

        {% if currentUser.routeViewable("/fault") %}
            <div class="dashicons">
                <a href="{{ urlFor("fault.view") }}">
                    <img src="{{ theme.uri("img/dashboard/help.png") }}" class="dash_button" />
                    <span class="dash_text">{% trans "Report Fault" %}</span>
                </a>
            </div>
        {% endif %}

        {% if currentUser.routeViewable("/display") %}
            <div class="dashicons">
                <a href="{{ urlFor("display.view") }}">
                    <img src="{{ theme.uri("img/dashboard/content.png") }}" class="dash_button" />
                    <span class="dash_text">{% trans "Displays" %}</span>
                </a>
            </div>
        {% endif %}		
		</div>
	</div>
-->	
    <div class="row">
        <div class="col-lg-3 col-md-6 col-xs-12">
            <div class="widget">
                <div class="widget-body">
                    <div class="widget-icon orange pull-left">
                        <i class="fa fa-desktop"></i>
                    </div>
                    <div class="widget-content pull-left">
                        <div class="title">{{ displays|length }}</div>
                        {% if currentUser.routeViewable("/display") %}
                        <a href="{{ urlFor("display.view") }}">
                        <div class="comment">{% if displays|length == 1 %}{% trans "Display" %}{% else %}{% trans "Displays" %}{% endif %}</div>
                        </a>
                        {% else %}
                        <div class="comment">{% if displays|length == 1 %}{% trans "Display" %}{% else %}{% trans "Displays" %}{% endif %}</div>
                        {% endif %}
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12">
            <div class="widget">
                <div class="widget-body">
                    <div class="widget-icon red pull-left">
                        <i class="fa fa-tasks"></i>
                    </div>
                    <div class="widget-content pull-left">
                        <div class="title">{{ librarySize }}</div>
						<div class="comment">
							{% if currentUser.routeViewable("/library") %}
								<a href="{{ urlFor("library.view") }}">{% trans "Library" %}</a>
							{% else %}
								{% trans "Library" %}
							{% endif %}
							<a class="btns libraryUploadForm" href="#" id="" title="{% trans "Add a new media item to the library" %}"><i class="fa fa-upload" aria-hidden="true"></i> {% trans "" %}</a> 

						</div>

                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12">
            <div class="widget">
                <div class="widget-body">
                    <div class="widget-icon green pull-left">
                        <i class="fa fa-users"></i>
                    </div>
                    <div class="widget-content pull-left">
                        <div class="title">{{ countUsers }}</div>
                        {% if currentUser.routeViewable("/user") %}
                        <a href="{{ urlFor("user.view") }}">                        
                        <div class="comment">{% if countUsers == 1 %}{% trans "User" %}{% else %}{% trans "Users" %}{% endif %}</div>
                        </a>
                        {% else %}
                        <div class="comment">{% if countUsers == 1 %}{% trans "User" %}{% else %}{% trans "Users" %}{% endif %}</div>
                        {% endif %}
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12">
            <div class="widget">
                <div class="widget-body">
                    <div class="widget-icon blue pull-left">
                        <i class="fa fa-cogs"></i>
                    </div>
                    <div class="widget-content pull-left">
                        {% if embedded-widget != "" %}
                            {{ embedded-widget|raw }}
                        {% else %}                      
                            <div class="title">{{ nowShowing }}</div>
        {% if currentUser.routeViewable("/schedule") %}
                <a href="{{ urlFor("schedule.view") }}">                              
                            <div class="comment">{% trans "Schedules" %}</div>
                </a>
        {% else %}
                            <div class="comment">{% trans "Schedules" %}</div>
        {% endif %}

                        {% endif %}
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="widget">
                <div class="widget-title">
                    <i class="fa fa-desktop"></i>
                    {% if currentUser.routeViewable("/display") %}
                        <a href="{{ urlFor("display.view") }}">{% trans "Display Activity" %}</a>
                    {% else %}
                        {% trans "Display Activity" %}
                    {% endif %}
                    <div class="clearfix"></div>
                </div>
                <div class="widget-body medium no-padding">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>{% trans "Display" %}</th>
                                <th>{% trans "Logged In" %}</th>
                                <th>{% trans "Authorised" %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for row in displays %}
                                {% if row.mediaInventoryStatus == 1 %}
                                    {% set class = "success" %}
                                {% elseif row.mediaInventoryStatus == 2 %}
                                    {% set class = "danger" %}
                                {% else %}
                                    {% set class = "warning" %}
                                {% endif %}
                                <tr class="{{ class }}">
                                    <td ><a class="XiboFormButton" href="{{urlFor('display.edit.form', {id: row.displayId})}}" tabindex='-1'>{{ row.display }}</a></td>
                                    <td><span class="glyphicon {% if row.loggedIn == 1 %}glyphicon-ok{% else %}glyphicon-remove{% endif %}"></span></td>
                                    <td><span class="glyphicon {% if row.licensed == 1 %}glyphicon-ok{% else %}glyphicon-remove{% endif %}"></span></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="widget news-widget">
                <div class="widget-title">
                    <i class="fa fa-book"></i>
        {% if currentUser.routeViewable("/layout") %}    
            <a href="{{ urlFor("layout.view") }}">                
                    {% trans "Layouts" %}
            </a>
        {% else %}
             {% trans "Layouts" %}
        {% endif %}             
                    <div class="clearfix"></div>
                </div>
                <div class="widget-body medium no-padding">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>{% trans "Layout" %}</th>
								<th>{% trans "Description" %}</th>
                                <th>{% trans "Duration" %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for layout in layouts %}
                                <tr class="success">
                                    <td>
                                    <a href="{{ urlFor("layout.designer", {id: layout.layoutId}) }}">
                                    {{ layout.layout }}
                                    </a>
                                    </td>
									<td> {{ layout.description }}</td>
                                    {% set hh = layout.duration // 3600 %}
                                    {% set mm = (layout.duration - hh * 3600) // 60 %}
                                    {% set ss = layout.duration % 60 %}
                                    
                                    <td>{{ "%02d:%02d:%02d" | format(hh, mm, ss) }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>    
    <div class="row">
        <div class="col-lg-6">
            <div class="widget">
                <div class="widget-title">
                    <i class="fa fa-cloud-download"></i>
                    {% if xmdsLimit != "" %}
                        {% trans %}Bandwidth Usage. Limit {{ xmdsLimit }}{% endtrans %}
                    {% else %}
                        {% trans %}Bandwidth Usage ({{ bandwidthSuffix }}){% endtrans %}
                    {% endif %}
                    {% if currentUser.routeViewable("/stats") %}
                    <a class="widget-title-link pull-right" href="{{ urlFor("stats.view") }}">{% trans "More Statistics" %}</a>
                    {% endif %}
                    <div class="clearfix"></div>
                </div>
                <div class="widget-body medium no-padding">
                    <div id="bandwidthChart" class="morrisChart" style="width:99%; height: 230px;"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="widget">
                <div class="widget-title">
                    <i class="fa fa-tasks"></i>
                    {% if currentUser.routeViewable("/library") %}
                        <a href="{{ urlFor("library.view") }}">                      
                            {% if libraryLimitSet != "" %}
                                {% trans %}Library Usage. Limit {{ libraryLimit }}{% endtrans %}
                            {% else %}
                                {% trans "Library Usage" %}
                            {% endif %}
                        </a>
                    {% else %}
                            {% if libraryLimitSet != "" %}
                                {% trans %}Library Usage. Limit {{ libraryLimit }}{% endtrans %}
                            {% else %}
                                {% trans "Library Usage" %}
                            {% endif %}
                    {% endif %}
					<a class="btns libraryUploadForm" href="#" id="" title="{% trans "Add a new media item to the library" %}"><i class="fa fa-upload" aria-hidden="true"></i> {% trans "" %}</a> 
                                         
                    <div class="clearfix"></div>
                </div>
                <div class="widget-body medium no-padding">
                    <div id="libraryChart" class="morrisChart" style="width:99%; height: 230px;"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="widget news-widget">
                <div class="widget-title">
                    <i class="fa fa-book"></i>
                    {% trans "Latest News" %}
                    <div class="clearfix"></div>
                </div>
                <div class="widget-body medium">
                    {% if latestNews|length > 0 %}
                        {% for news in latestNews %}
                            <div class="article">
                                <h4 class="article_title">{{ news.title }}</h4>
                                <p>{{ news.description|raw }} {% if news.link %}<a href="{{ news.link }}" title="Read" target="_blank">{% trans "Full Article" %}</a>.{% endif %}</p>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>    
    </div>
{% endblock %}

{% block javaScript %}
    <script type="text/javascript">

        {% if xmdsLimitSet %}
            var yKeys = ['value','limit'];
            var labels = ['{% trans "Value" %}','{% trans "Remaining" %}'];
        {% else %}
            var yKeys = ['value'];
            var labels = ['{% trans "Value" %}'];
        {% endif %}

        var bandwidthChart = {
            type: 'bar',
            data: {
                element: 'bandwidthChart',
                data: {{ bandwidthWidget|raw }},
                xkey: 'label',
                ykeys: yKeys,
                labels: labels,
                stacked: {% if xmdsLimitSet %}true{% else %}false{% endif %}
        }
        };

        var libraryChart = {
            type: 'donut',
            data: {
                element: 'libraryChart',
                data: {{ libraryWidget|raw }},
                formatter: function (y, data) { return y + "{{ librarySuffix }}"; }
            }
        };
		$(".libraryUploadForm").click(function(e) {
            e.preventDefault();

            openUploadForm({
                trans: {
                    addFiles: "{% trans "Add files" %}",
                    startUpload: "{% trans "Start upload" %}",
                    cancelUpload: "{% trans "Cancel upload" %}"
                },
                upload: {
                    maxSize: {{ libraryUpload.maxSize }},
                    maxSizeMessage: "{{ libraryUpload.maxSizeMessage  }}",
                    validExt: "{{ libraryUpload.validExt }}"
                },
                updateInAllChecked: {% if settings.LIBRARY_MEDIA_UPDATEINALL_CHECKB == "Checked" %}true{% else %}false{% endif %},
                deleteOldRevisionsChecked: {% if settings.LIBRARY_MEDIA_DELETEOLDVER_CHECKB == "Checked" %}true{% else %}false{% endif %}
            });
        });


        /**
         * Opens the upload form
         * @param templateOptions
         */
        function openUploadForm(templateOptions) {

            var template = Handlebars.compile($("#template-file-upload").html());

            // Handle bars and open a dialog
            bootbox.dialog({
                message: template(templateOptions),
                title: "{% trans "Upload media" %}",
                buttons: {
                    main: {
                        label: "{% trans "Done" %}",
                        className: "btn-primary",
                        callback: function() {
                            XiboDialogClose();
                        }
                    }
                }
            }).on('shown.bs.modal', function() {
                // Configure the upload form
                var url = "{{ urlFor("library.add") }}";
                var form = $(this).find("form");
                var refreshSessionInterval;

                // Initialize the jQuery File Upload widget:
                form.fileupload({
                    url: url,
                    disableImageResize: true,
                    previewMaxWidth: 100,
                    previewMaxHeight: 100,
                    previewCrop: true
                });

                // Upload server status check for browsers with CORS support:
                if ($.support.cors) {
                    $.ajax({
                        url: url,
                        type: 'HEAD'
                    }).fail(function () {
                        $('<span class="alert alert-error"/>')
                                .text('Upload server currently unavailable - ' + new Date())
                                .appendTo(form);
                    });
                }

                // Enable iframe cross-domain access via redirect option:
                form.fileupload(
                        'option',
                        'redirect',
                        window.location.href.replace(
                                /\/[^\/]*$/,
                                '/cors/result.html?%s'
                        )
                );

                form.bind('fileuploadsubmit', function (e, data) {
                    var inputs = data.context.find(':input');
                    if (inputs.filter('[required][value=""]').first().focus().length) {
                        return false;
                    }
                    data.formData = inputs.serializeArray().concat(form.serializeArray());

                    inputs.filter("input").prop("disabled", true);
                }).bind('fileuploadstart', function (e, data) {
                    if (form.fileupload("active") <= 0)
                        refreshSessionInterval = setInterval("XiboPing('" + pingUrl + "?refreshSession=true')", 1000 * 60 * 3);

                    return true;
                }).bind('fileuploaddone', function (e, data) {
                    if (refreshSessionInterval != null && form.fileupload("active") <= 0)
                        clearInterval(refreshSessionInterval);
                });
            });
        }

        /**
         * Media Edit form
         */
        function mediaEditFormOpen(dialog) {
            // Create a new button
            var footer = dialog.find(".modal-footer");
            var mediaId = dialog.find("#mediaEditForm").data().mediaId;
            var validExtensions = dialog.find("#mediaEditForm").data().validExtensions;

            // Append
            var replaceButton = $('<button class="btn btn-warning">').html("{% trans "Replace" %}");
            replaceButton.click(function(e) {
                e.preventDefault();

                // Open the upload dialog with our options.
                openUploadForm({
                    oldMediaId: mediaId,
                    updateInAllChecked: {% if settings.LIBRARY_MEDIA_UPDATEINALL_CHECKB == "Checked" %}true{% else %}false{% endif %},
                    deleteOldRevisionsChecked: {% if settings.LIBRARY_MEDIA_DELETEOLDVER_CHECKB == "Checked" %}true{% else %}false{% endif %},
                    trans: {
                        addFiles: "{% trans "Add Replacement" %}",
                        startUpload: "{% trans "Start Replace" %}",
                        cancelUpload: "{% trans "Cancel Replace" %}",
                        updateInLayouts: {
                            title: "{% trans "Update this media in all layouts it is assigned to?" %}",
                            helpText: "{% trans "Note: It will only be updated in layouts you have permission to edit." %}"
                        },
                        deleteOldRevisions: {
                            title: "{% trans "Delete the old version?" %}",
                            helpText: "{% trans "Completely remove the old version of this media item if a new file is being uploaded." %}"
                        }
                    },
                    upload: {
                        maxSize: {{ libraryUpload.maxSize }},
                        maxSizeMessage: "{{ libraryUpload.maxSizeMessage  }}",
                        validExt: validExtensions
                    }
                });
            });

            footer.find(".btn-primary").before(replaceButton);
        }				
    </script>
{% endblock %}